@charset "utf-8";
.main-container {
	list-style: none;
	margin: 1vw auto;
	flex-grow: 1;
	margin: 1vw auto;
	overflow: hidden;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	text-align: center;
}
.main-container li {
	position: relative;
	-webkit-transition: top .3s;
	transition: top .3s;
	top: 0px;
	display: inline-block;
	vertical-align: top;
}
.nums-part {
	font-weight: bolder;
	font-size: 1.5em;
}
.point-part {
	margin: 0 5px;
}
.init-roll {
	-webkit-animation: nums-roll 0.1s 10 ease-out;
	-moz-animation: nums-roll 0.1s 10 ease-out;
	-o-animation: nums-roll 0.1s 10 ease-out;
	animation: nums-roll 0.1s 10 ease-out;
}
@-moz-keyframes nums-roll {
	from {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-webkit-transform: translateY(-800%);
		transform: translateY(-800%);
	}
}
@-ms-keyframes nums-roll {
	from {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-webkit-transform: translateY(-800%);
		transform: translateY(-800%);
	}
}
@-webkit-keyframes nums-roll {
	from {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-webkit-transform: translateY(-800%);
		transform: translateY(-800%);
	}
}
@-o-keyframes nums-roll {
	from {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-webkit-transform: translateY(-800%);
		transform: translateY(-800%);
	}
}
@keyframes nums-roll {
	from {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-webkit-transform: translateY(-800%);
		transform: translateY(-800%);
	}
}